body {
  padding: 0;
  margin: 0;
  background-color: #212529;
  color: #e9ecef;
}

html {
  font-size: 62.5%;
  font-family: "Inter";
  box-sizing: border-box;
}

.btn {
  color: #e9ecef;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  margin: 0 15.2rem;
}
.navigation__logo {
  font-size: 3.4rem;
  font-weight: 700;
  font-style: oblique 60deg;
}
.navigation__items {
  list-style: none;
  display: flex;
  gap: 3.4rem;
  justify-content: space-around;
}
.navigation__item {
  font-size: 2.4rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.navigation__item a {
  color: #e9ecef;
}
.navigation__item a::after, .navigation__item a:hover {
  color: #ffec99;
}
.navigation__item::after, .navigation__item:hover {
  content: "";
  color: #ffec99;
  transform: translateY(-0.5rem);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.header {
  max-width: 160rem;
  margin: 0 auto;
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header__text-box {
  margin: auto 0;
  justify-items: stretch;
}
.header__text-box h1 {
  font-size: 5.4rem;
  letter-spacing: 1.5px;
  line-height: 5.6rem;
}
.header__text-box span {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffec99;
          text-decoration-color: #ffec99;
}
.header__text-box p {
  margin-top: 5.8rem;
  margin-bottom: 6.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 1.6px;
}
.header__text-box__btn {
  margin-right: 5.4rem;
  padding: 0.2rem;
  position: relative;
}
.header__text-box__btn::after {
  content: "";
  position: absolute;
  background-color: #ffec99;
  height: 0.3rem;
  width: 0;
  left: 0;
  bottom: -0.1rem;
  transition: 0.3s;
}
.header__text-box__btn:hover:after {
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.header__img-box {
  width: 65%;
  filter: grayscale(1) contrast(1.35) opacity(0.8);
  justify-self: end;
  border-radius: 1.5%;
}

.skills {
  max-width: 160rem;
  height: 20rem;
  margin: 0 auto;
  margin-top: 12rem;
  border-top: 2px solid #e9ecef;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.skill__box {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
}
.skill__box i {
  margin-top: 1.4rem;
  font-size: 8.4rem;
}
.skill__box span {
  margin-top: 0.8rem;
  font-size: 2.4rem;
}

.projects {
  max-width: 160rem;
  margin: 0 auto;
}
.projects__name {
  font-size: 5.4rem;
  letter-spacing: 1.5px;
  line-height: 5.6rem;
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__box img {
  width: 80%;
}
.project__box__text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5.3rem;
}
.project__box__text p {
  font-size: 1.8rem;
  margin-top: 1rem;
}
.project__box__text__icons {
  display: flex;
  gap: 0.8rem;
  font-size: 2rem;
  margin-top: -1.4rem;
}

.contact {
  max-width: 160rem;
  margin: 0 auto;
}
.contact__name {
  font-size: 5.4rem;
  letter-spacing: 1.5px;
  line-height: 5.6rem;
}
.contact__container {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.contact__info {
  margin-left: 8.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__info__contacts {
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2.3rem;
  font-size: 2.2rem;
}
.contact__info__contacts span {
  letter-spacing: 1.8px;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.footer {
  height: 4vh;
  background-color: rgba(52, 58, 64, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1.2px;
}/*# sourceMappingURL=style.css.map */