.header {
  max-width: 160rem;
  margin: 0 auto;
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__text-box {
    margin: auto 0;
    justify-items: stretch;
    h1 {
      font-size: 5.4rem;
      letter-spacing: 1.5px;
      line-height: 5.6rem;
    }
    span {
      text-decoration: underline;
      text-decoration-color: #ffec99;
    }

    p {
      margin-top: 5.8rem;
      margin-bottom: 6.8rem;
      font-size: 1.8rem;
      font-weight: 400;
      text-align: justify;
      letter-spacing: 1.6px;
    }

    &__btn {
      margin-right: 5.4rem;
      padding: 0.2rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: #ffec99;
        height: 0.3rem;
        width: 0;
        left: 0;
        bottom: -0.1rem;
        transition: 0.3s;
      }

      &:hover:after {
        width: 100%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__img-box {
    width: 65%;
    filter: grayscale(1) contrast(1.35) opacity(0.8);
    justify-self: end;
    border-radius: 1.5%;
  }
}

@media only screen and (max-width: 75em) {
  .header {
    max-width: 140rem;
  }
}

@media only screen and (max-width: 59.375em) {
  .header {
    max-width: 110rem;

    &__text-box {
      h1 {
        font-size: 4.4rem;
        letter-spacing: 1px;
        line-height: 5.6rem;
      }

      p {
        margin-top: 6.8rem;
        margin-bottom: 6.8rem;
        letter-spacing: 0.8px;
      }
    }
  }
}

@media only screen and (max-width: 53.125em) {
  .header {
    max-width: 90rem;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &__text-box {
      h1 {
        font-size: 4.4rem;
        letter-spacing: 1.1px;
        text-align: center;
      }

      p {
        margin-top: 5.8rem;
        margin-bottom: 6.8rem;
        font-size: 2.3rem;
        letter-spacing: 1.6px;
      }

      &__btn {
        font-size: 2.4rem;
      }
    }
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img-box {
      margin-top: 1rem;
      width: 55%;
    }
  }
}

@media only screen and (max-width: 40.625em) {
  .header {
    max-width: 70rem;

    &__text-box {
      h1 {
        font-size: 3.8rem;
      }

      p {
        font-size: 2.2rem;
      }
    }

    &__img-box {
      width: 70%;
    }

    &__btn {
      font-size: 2.2rem;
    }
  }
}

@media only screen and (max-width: 31.25em) {
  .header {
    max-width: 50rem;
    &__text-box {
      h1 {
        font-size: 3.3rem;
      }

      p {
        font-size: 1.8rem;
      }
    }

    &__buttons {
      transform: translate(3%);
    }
  }
}

@media only screen and (max-width: 22.5em) {
  .header {
    max-width: 30rem;

    &__text-box {
      h1 {
        margin-top: 3.8rem;
        font-size: 2.6rem;
        line-height: 3.6rem;
      }

      p {
        font-size: 1.6rem;
      }

      &__btn {
        font-size: 2.2rem;
      }
    }

    &__buttons {
      display: flex;
      gap: 3.4rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translate(10%);
    }

    &__img-box {
      width: 95%;
    }
  }
}
