.header {
  max-width: 160rem;
  margin: 0 auto;
  background-color: yellowgreen;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  &__text-box h1 {
    font-size: 6.5rem;
  }

  &__text-box p {
    font-size: 3.5rem;
  }
  &__img-box {
    width: 70%;
    margin: 0 auto;
  }
}
