.header {
  max-width: 160rem;
  margin: 0 auto;
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__text-box {
    margin: auto 0;
    justify-items: stretch;
    h1 {
      font-size: 5.4rem;
      letter-spacing: 1.5px;
      line-height: 5.6rem;
    }
    span {
      text-decoration: underline;
      text-decoration-color: #ffec99;
    }

    p {
      margin-top: 4.4rem;
      font-size: 1.8rem;
      font-weight: 400;
      text-align: justify;
      letter-spacing: 1.6px;
    }

    &__btn {
      display: inline-block;
      margin-top: 4.4rem;
      padding-right: 4rem;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 1.2px;
      text-decoration: none;
      color: #e9ecef;
    }
  }

  &__img-box {
    width: 65%;
    filter: grayscale(1) contrast(1.35) opacity(0.8);
    justify-self: end;
    border-radius: 1.5%;
  }
}
