.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 160rem;
  height: 9.6rem;
  margin: 0 auto;

  &__logo {
    font-size: 3.4rem;
    font-weight: 700;
    font-style: oblique 24deg;
    cursor: pointer;
  }

  &__items {
    list-style: none;
    display: flex;
    gap: 3.4rem;
    justify-content: space-around;
  }

  &__item {
    font-size: 2.4rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;

    a {
      color: #e9ecef;
      &::after,
      &:hover {
        color: #ffec99;
      }
    }

    &::after,
    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
  }
}
