.projects {
  max-width: 160rem;
  margin: 0 auto;

  &__name {
    font-size: 5.4rem;
    letter-spacing: 1.5px;
    line-height: 5.6rem;
  }

  &__container {
    margin: 16.5rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.project__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 60%;
  }

  &__text {
    align-self: center;
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.8rem;
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 75em) {
  .projects {
    max-width: 140rem;
  }
}

@media only screen and (max-width: 59.375em) {
  .projects {
    max-width: 110rem;

    &__name {
      text-align: center;
    }
  }

  .project__box {
    img {
      width: 55%;
    }

    &__text {
      align-self: center;
      margin-left: 0rem;
    }
  }
}

@media only screen and (max-width: 53.125em) {
  .projects {
    max-width: 90rem;
  }
}

@media only screen and (max-width: 40.625em) {
  .projects {
    max-width: 70rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .projects {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .projects {
    max-width: 30rem;
  }
}
